*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
<<<<<<< HEAD
=======
  font-family: Raleway, sans-serif;
>>>>>>> f76083b9447ffcd59b1b8e6765823956834ed95f
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
<<<<<<< HEAD
}
=======
}

button {
  font: inherit;
}
>>>>>>> f76083b9447ffcd59b1b8e6765823956834ed95f
